.main {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sections {
  width: 100%;
  padding: 15%;
  height: 550px;
}

.sedans {
  background-color: #e38826;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.suvs {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  padding-top: 30px;
  color: #f2f2f2;
}
p {
  color: #ffffffbf;
  font-family: 'Lexend Deca', sans-serif;
  padding-bottom: 60px;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: start;
  padding-top: 30px;
}
.btn {
  margin-bottom: 20px;
  border: 2px solid #f2f2f2;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: #f2f2f2;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.sedans .btn {
  color: #e38826;
}

.suvs .btn {
  color: #006970;
}

.luxury .btn {
  color: #004241;
}

.sedans .btn:hover,
.sedans .btn:active {
  background-color: #e38826;
  color: #ffffff;
}

.suvs .btn:hover,
.suvs .btn:active {
  background-color: #006970;
  color: #ffffff;
}

.luxury .btn:hover,
.luxury .btn:active {
  background-color: #004241;
  color: #ffffff;
}
button {
  letter-spacing: 2px;
}
/* MEDIA QUERIES */
@media screen and (min-width: 641px) {
  .main {
    flex-direction: row;
    width: 80vw;
  }

  .sections {
    width: 100%;
    padding: 5%;
    height: 550px;
  }

  .sedans {
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .luxury {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  h1 {
    padding-top: 30px;
    color: #f2f2f2;
  }
  p {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: start;
  }
}

@media screen and (min-width: 800px) {
  p {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1000px) {
  .sections {
    height: 500px;
  }
}
@media screen and (min-width: 1250px) {
  .main {
    width: 70%;
  }
}
